<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>博雅楼 - 后台管理</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" />

    <!-- basic styles -->

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/layer/layui/css/layui.css"  media="all" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->

    <link rel="stylesheet" href="/assets/css/personal.css" />

    <!-- fonts -->

    <!-- ace styles -->

    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- ace settings handler -->

    <script src="/assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>
</head>

<body>
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>

    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="/" class="navbar-brand">
                <small>
                    <i class="icon-home"></i>
                    博客首页
                </small>
            </a><!-- /.brand -->
        </div><!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <% if(user[0]['photo']){%>
                            <img class="nav-user-photo" src="<%= user[0]['photo'] %>" alt="User Photo" width="40" height="40"/>
                        <% }else{ %>
                            <img class="nav-user-photo" src="/images/avatar/boy.png" alt="User Photo" width="40" height="40" />
                        <% } %>
                        <span class="user-info">
									<small>Welcome,</small>
                            <%= user[0]['username'] %>
								</span>

                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                        <li>
                            <a href="/logout">
                                <i class="icon-off"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
    </div><!-- /.container -->
</div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
            </script>


            <ul class="nav nav-list">

                <li>
                    <a href="/admin" class="dropdown-toggle">
                        <i class="icon-th-list"></i>
                        <span class="menu-text"> 个人资料 </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-user"></i>
                        <span class="menu-text"> 用户管理 </span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="/admin/user">
                                <i class="icon-double-angle-right"></i>
                                用户信息
                            </a>
                        </li>

                        <li>
                            <a href="/admin/addUser">
                                <i class="icon-double-angle-right"></i>
                                添加用户
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle">
                        <i class="icon-file"></i>
                        <span class="menu-text"> 文章管理 </span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="/admin/articleList">
                                <i class="icon-double-angle-right"></i>
                                文章列表
                            </a>
                        </li>

                        <li>
                            <a href="/admin/myArticle">
                                <i class="icon-double-angle-right"></i>
                                我的文章
                            </a>
                        </li>

                        <li>
                            <a href="/admin/addArticle">
                                <i class="icon-double-angle-right"></i>
                                发表文章
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle">
                        <i class="icon-comment"></i>
                        <span class="menu-text"> 评论管理 </span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="/admin/commentList">
                                <i class="icon-double-angle-right"></i>
                                评论列表
                            </a>
                        </li>

                        <li>
                            <a href="/admin/mycommentList">
                                <i class="icon-double-angle-right"></i>
                                我的评论
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle">
                        <i class="icon-th-large"></i>
                        <span class="menu-text"> 版块管理 </span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="/admin/menu" class="dropdown-toggle">
                                <i class="icon-plus-sign"></i>
                                <span class="menu-text"> 添加版块 </span>
                            </a>
                        </li>

                        <li>
                            <a href="/admin/delmenu" class="dropdown-toggle">
                                <i class="icon-plus-sign"></i>
                                <span class="menu-text"> 删除版块 </span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="/admin/mypraise" class="dropdown-toggle">
                        <i class="icon-thumbs-up"></i>
                        <span class="menu-text"> 点赞记录 </span>
                    </a>
                </li>

                <li>
                    <a href="/admin/mycollect" class="dropdown-toggle">
                        <i class="icon-heart"></i>
                        <span class="menu-text"> 收藏记录 </span>
                    </a>
                </li>



            </ul><!-- /.nav-list -->

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>

            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
            </script>
        </div>

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                    </li>
                    <li class="active">修改文章</li>
                </ul><!-- .breadcrumb -->

            </div>
            <!-- 内容区 -->
            <div class="page-content">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 art">
                        <div class="table-responsive">
                            <form id= "uploadForm" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputID" class="col-sm-2 control-label">文章ID</label>
                                    <div class="col-sm-4">
                                        <span id="inputID" class="form-control"  style="border: none;" > <%= art[0]['id']%> </span>
                                        <input type="hidden" name="id" value="<%= art[0]['id']%>"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputTitle" class="col-sm-2 control-label">文章标题</label>
                                    <div class="col-sm-4">
                                        <input type="text" id="inputTitle" class="form-control atit" name="title" placeholder="请输入标题" value="<%= art[0]['title']%>" />
                                    </div>
                                    <span style="color:red;">*</span>
                                </div>
                                <div class="form-group">
                                    <label for="inputFile" class="col-sm-2 control-label">封面(jpg,jpeg,png)</label>
                                    <div class="col-sm-8">
                                            <% if(art[0]['img']){%>
                                            <img class="nav-user-photo" src="<%- art[0]['img'] %>" alt="封面"  height="70" />
                                            <% } %>
                                        <label for="inputFile" class="upfile" >
                                            <input type="file" id="inputFile" name="file" multiple="multiple" accept="image/png,image/jpeg" />
                                            <span class="custorm-style">
                                                <span class="left-button">上传封面</span>
                                                <span class="right-text" id="rightText"></span>
							                </span>
                                        </label>
                                        <span class="tip">*建议750*245</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputTag" class="col-sm-2 control-label">分类</label>
                                    <div class="col-sm-4">
                                        <select name="leveid" class="leveid">
                                            <% for(let i in menu){ %>
                                            <option value="<%= menu[i]['id'] %>"> <%= menu[i]['title'] %> </option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputTag" class="col-sm-2 control-label">标签</label>
                                    <div class="col-sm-4">
                                        <input type="text" id="inputTag" class="form-control" name="tag" placeholder="请输入标签"  value="<%= art[0]['tag']%>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAuthor" class="col-sm-2 control-label">作者</label>
                                    <div class="col-sm-4">
                                        <input type="text" id="inputAuthor" class="form-control aau" name="author" placeholder="请输入作者"  value="<%= art[0]['author']%>">
                                    </div>
                                    <span style="color:red;">*</span>转载请注明原作者，尊重版权！
                                </div>
                                <div class="form-group">
                                    <label for="inputAbs" class="col-sm-2 control-label">摘要</label>
                                    <div class="col-sm-9">
                                        <textarea type="text" id="inputAbs" maxlength="300" class="form-control" name="abstract" rows="5" placeholder="请输入摘要(300字以内)"><%= art[0]['abstract']%></textarea>
                                    </div>
                                </div>
                                <div class="form-group" style="display: none">
                                    <label for="inputContent" class="col-sm-1 control-label">内容</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="inputContent" class="form-control content" name="content" placeholder="请输入内容...">
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <script id="editor" type="text/plain" style="width:1024px;height:500px;">  <%- art[0]['content']%> </script>
                                </div>
                                <div class="form-submit">
                                    <div class="col-sm-10">
                                        <input type="button" class="submit" value="确定"/>
                                    </div>
                                </div>-
                            </form>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->


        <div class="ace-settings-container" id="ace-settings-container">
            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                <i class="icon-cog bigger-150"></i>
            </div>

            <div class="ace-settings-box" id="ace-settings-box">
                <div>
                    <div class="pull-left">
                        <select id="skin-colorpicker" class="hide">
                            <option data-skin="default" value="#438EB9">#438EB9</option>
                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                        </select>
                    </div>
                    <span>&nbsp; 选择皮肤</span>
                </div>

                <div>
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
                    <label class="lbl" for="ace-settings-rtl"> 切换到左边</label>
                </div>

                <div>
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
                    <label class="lbl" for="ace-settings-add-container">
                        切换窄屏
                    </label>
                </div>
            </div>
        </div><!-- /#ace-settings-container -->
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->


<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>

<!-- inline scripts related to this page -->
<script src="/layer/layer.js"></script>
<script src="/layer/layui/layui.js"></script>

<script type="text/javascript">
    jQuery(function($) {

        window.prettyPrint && prettyPrint();
        $('#id-check-horizontal').removeAttr('checked').on('click', function(){
            $('#dt-list-1').toggleClass('dl-horizontal').prev().html(this.checked ? '&lt;dl class="dl-horizontal"&gt;' : '&lt;dl&gt;');
        });

    })
    var fileBtn = $("input[type=file]");
    fileBtn.on("change", function(){
        var index = $(this).val().lastIndexOf("\\");
        var sFileName = $(this).val().substr((index+1));
        $("#rightText").html(sFileName);
    });
    function logout(){
        $.cookie("login", "false", { expires: -1 });        // 删除 cookie
        window.location.href = '/';
    }
</script>
<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');

    function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e){
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }
</script>
<script>
    $('.submit').click(function () {
        //console.log(ue.getContent());//获取编辑器内容
        //console.log(ue.getPlainTxt());//得到编辑器的纯文本内容，但会保留段落格式
        //console.log(ue.getContentTxt());//获取编辑器中的纯文本内容,没有段落格式
        str = ue.getContent();
        $('.content').val(str);
        if($('.atit').val().length == 0){
            layer.msg('请输入标题',{
                icon: 3, //1，绿勾  2，红叉  3，黄问号  4，灰色锁头  5，红色委屈脸  6，绿色笑脸 7，黄色感叹号
                time:1000
            });
            return;
        }else if($('.content').val().length == 0){
            layer.msg('请输入文章内容',{
                icon: 3, //1，绿勾  2，红叉  3，黄问号  4，灰色锁头  5，红色委屈脸  6，绿色笑脸 7，黄色感叹号
                time:1000
            });
            return;
        }
        var formData = new FormData($( "#uploadForm" )[0]);
        $.ajax({
            url: '/admin/updateArticle',
            type: 'post',
            data: formData,
            async: true,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if(data.succ){
                    layer.load(1);
                    //此处演示关闭
                    setTimeout(function(){
                        layer.closeAll('loading');
                    }, 500);
                    setTimeout(function () {
                        layer.msg('修改成功',{
                            icon: 1, //1，绿勾  2，红叉  3，黄问号  4，灰色锁头  5，红色委屈脸  6，绿色笑脸 7，黄色感叹号
                            time:1000
                        });
                    },1000);
                    setTimeout(function () {
                        window.location.href = '/admin/articleList';
                    },2000);
                }
                if(data.err){
                    layer.msg('修改失败',{
                        icon: 2, //1，绿勾  2，红叉  3，黄问号  4，灰色锁头  5，红色委屈脸  6，绿色笑脸 7，黄色感叹号
                        time:1000
                    });
                    setTimeout(function () {
                        window.location.reload();//刷新当前页面
                    },1500);
                }
            },
            error: function (data) {
                console.log('err:'+data);
            }
        });
    })
</script>
</body>
</html>
